body {
  background-color: white;
  color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: .5em;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}


/* article card */

.article {
  text-align: center;
  padding-bottom: 4em;
}

.article-title{
  font-size: 1.5em;
}